@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  background: $very-light-gray;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5.5rem;
  &__title {
    width: min(85%, 500px);
    font-weight: 600;
    color: $very-dark-blue;
    margin: 0;
    & span:first-child {
      font-weight: 200;
    }
  }
  &__subtitle {
    width: min(85%, 500px);
    color: $grayish-blue;
    font-weight: 400;
    line-height: 1.5;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 4.25rem;
  margin-bottom: 3.125rem;
  article:first-child {
    border-top: 5px solid $cyan;
  }
  article:last-child {
    border-top: 5px solid $blue;
  }
}

.card {
  width: min(85%, 350px);
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  &__title {
    font-weight: 600;
    color: $very-dark-blue;
    margin: 0;
    font-size: 1.25rem;
  }
  &__text {
    font-weight: 400;
    color: $grayish-blue;
    margin-bottom: 1.75rem;
    line-height: 1.5;
  }
  &__img {
    display: flex;
    flex-direction: row-reverse;
  }
  &-center {
    width: min(85%, 350px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    .card {
      width: 100%;
    }
    article:first-child {
      border-top: 5px solid $red;
    }
    article:last-child {
      border-top: 5px solid $orange;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__title {
      font-size: 1.5rem;
    }
  }
  .card {
    &__title {
      font-size: 1.3rem;
    }
    &__text {
      font-size: 0.75rem;
    }
  }
}